<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [routerLink]="settingsLink">
      G00439360 
      <ion-icon name="settings-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-input [(ngModel)] = "countryToSearch" label="Enter Country:"  placeholder="Country Name" (change)="setCountryToSearch()"></ion-input>
    </ion-item>
    <ion-button [routerLink]="countriesLink" expand="block">Search</ion-button>
</ion-content>
