<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News from {{country}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" *ngIf="newsData.length > 0"  >News for {{country}}</ion-title>
      <ion-title size="large" *ngIf="newsData.length < 1"  >No News for {{country}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let article of newsData">
    <img src="{{article.image_url}}" style="max-width:400px;width:100%"/>
    <ion-card-header>
      <ion-card-title style="text-decoration: underline;">{{article.title}}</ion-card-title>
      <ion-card-subtitle style="text-decoration: underline;"> {{article.description}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
